<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SVP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SVP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="svpEntities" connectionString="metadata=res://*/svpModel.csdl|res://*/svpModel.ssdl|res://*/svpModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=Kennwort1;database=svp&quot;" providerName="System.Data.EntityClient" />
    <add name="SVPEntitiesContainer" connectionString="metadata=.\SVPEntities.csdl|.\SVPEntities.ssdl|.\SVPEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=Kennwort1;database=svp2&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <SVP.Properties.Settings>
      <setting name="MonitorIP" serializeAs="String">
        <value>172.16.2.178</value>
      </setting>
      <setting name="DefaultName" serializeAs="String">
        <value>Anonym</value>
      </setting>
      <setting name="DefaultProfile" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ComPort" serializeAs="String">
        <value>COM5</value>
      </setting>
      <setting name="ExcelTemplate" serializeAs="String">
        <value>ExportTemplate.xltx</value>
      </setting>
    </SVP.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <SVP.Properties.Settings>
      <setting name="MonitorDisplaySetting" serializeAs="String">
        <value>ShotImageWithPoints</value>
      </setting>
    </SVP.Properties.Settings>
  </userSettings>
</configuration>